.table {
    margin-top: 30px;
    margin-bottom: 30px;
}

.table.table-primary td:last-child{
    text-align: right;
}

.paging {
    /* position: absolute; */
    /* right: 360px; */
    margin-right: 25px;
}

.paging a {
    color: #BBB;
}

.fa {
    color: #BBB !important;
}

i.fa.fa-chevron-left {
    margin-top: 4px;
    margin-right: 10px;
}

i.fa.fa-chevron-right {
    margin-top: 4px;
    margin-left: 10px;
}

.fa.fa-spinner {
    position: absolute; 
    right:-30px; 
    top: 5px;
}

.fa.fa-times-circle {
    position: absolute; 
    right:5px; 
    top: 5px;
}

.form-search {
    position: relative;
    margin-top: -30px;
    color: #BBB;
}

.form-search .fa-search {
    font-size: 16px;
    padding: 0 10px;
    margin: 0 8px;
    border-right: 1px solid #BBB;
}

.form-search input {
    border: none;
    outline: none;
    padding-right: 30px;
}

.modal-body .table {
    margin: 0px;
}

.modal-body .table thead td{
    text-align:center;
    border: 0;
}

.modal-body .table thead td img{
    box-shadow: 1px 5px 30px #BBB;
}

.modal-body .table tbody td:first-child{
    font-weight: bold;
    text-align: right;
}

.modal-body .table tbody td {
    width: 50%;
}

