<!--The content below is only a placeholder and can be replaced.-->
<div>

  <div class="title m-t-25">
    <h1>REST COUNTRIES &nbsp;<small>( {{ country.list.pagination.total }} )</small></h1>
    <form class="form form-search pull-right" (submit)="$event.preventDefault()">
      <span class="pagination">
        <a href="javascript:;"><i class="fa fa-chevron-left " *ngIf="country.list.pagination.current_page > 1" (click)="goTo(country.list.pagination.prev_page)"></i></a>
        <span>{{ country.list.pagination.current_page }}</span> &nbsp;
        of  &nbsp;
        <span>{{ country.list.pagination.total_page }}</span>
        <a href="javascript:;"><i class="fa fa-chevron-right " *ngIf="country.list.pagination.current_page < country.list.pagination.total_page" (click)="goTo(country.list.pagination.next_page)"></i></a>
      </span>
      <div class="form-group">
        <span class="fa fa-search"></span>
        <input type="text" class="form-input-search" placeholder="Search something..." name="search" (keyup.enter)="formSearchListener($event);" (keyup)="resetTable($event)">
      </div>
    </form>
  </div>
  <table class="table table-primary" *ngIf="country.source.length > 0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Alpha 2 Code</th>
        <th>Alpha 3 Code</th>
        <th>Capital</th>
        <th>Population</th>
      </tr>
    </thead>
    <tbody *ngIf="country.list.data.length > 0">
      <tr *ngFor="let i of country.list.data">
        <td>
          <a href="javascript:;" (click)="open(i, content)">
            {{ i.name }}
            <img [src]="i.flag" class="img-responsive" style="height:15px; margin-left: 10px;">
          </a>
        </td>
        <td>{{ i.alpha2Code }}</td>
        <td>{{ i.alpha3Code }}</td>
        <td>{{ i.capital }}</td>
        <td>{{ i.population }}</td>
      </tr>
    </tbody>
    <tbody *ngIf="country.list.data.length == 0">
      <tr>
        <td colspan=5 class="text-center p-30 bg-light">No Data</td>
      </tr>
    </tbody>
  </table>

</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ country.detail.name }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <td colspan="2">
            <img [src]="country.detail.flag" class="img-center" style="height: 125px;">
          </td>
        </tr>
      </thead>      
      <tbody>      
        <tr>
          <td>Capital : </td>
          <td>{{ country.detail.capital }}</td>
        <tr>
        <tr>
          <td>Population : </td>
          <td>{{ country.detail.population }}</td>
        <tr>
        <tr>
          <td>Region : </td>
          <td>{{ country.detail.region }}</td>
        <tr>
        <tr>
          <td>2 Code : </td>
          <td>{{ country.detail.alpha2Code }}</td>
        <tr>
        <tr>
          <td>3 Code : </td>
          <td>{{ country.detail.alpha3Code }}</td>
        <tr>
      </tbody>
    </table>
  </div>
</ng-template>
