/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 { 
    color: #2788c7; 
    font-family: 'Oswald', sans-serif;
}

small { color: #DDD !important }

.img-center { margin: 0 auto 15px; }
.text-center { text-align: center !important; }
.m-t-25 { margin-top: 25px !important; }
.p-30 { padding: 30px !important; }
.bg-light { background-color: #FAFAFA }

.table th, .table tbody tr:first-child td {
    border-top: 0;
}

.table td {
    border-top: 1px solid #f1f1f1;
}

.table-primary {
    box-shadow: 1px 10px 40px #DDD;
}

.table-primary, tr, td, th {
    background-color: white;
}

.table-primary tbody tr td {
    padding: 12px 25px;
    vertical-align: middle;
}

.table-primary tbody tr:hover td {
    background-color: #FAFAFA;
}

.table-primary thead tr th {
    background-color: #2788c7;
    color: white;
    padding: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;  
    border-bottom: 0; 
}

::-webkit-input-placeholder {
    color: #CCC;
    font-size: 13px;
}

footer {
    text-align: center;
    position: relative;
    bottom: 0px;
    padding: 20px 20px 40px;
    color: #DDD;
}

.spin {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to { transform: rotate(360deg); }
}